# Pipeline de Build e Deploy para Java Spring Boot (PaaS)
# Global Solution 2025 - DevOps Tools & Cloud Computing

trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  azureSubscription: 'AzureSubscription'
  webAppName: 'webapp-ltakn-2025-vini'
  # Referenciando as variáveis secretas que você criou na UI
  # (Elas precisam ser mapeadas explicitamente no env da task abaixo)

stages:
  - stage: Build
    displayName: Build Stage
    jobs:
      - job: Build
        displayName: Build Java App
        steps:
          - task: JavaToolInstaller@0
            inputs:
              versionSpec: '17'
              jdkArchitectureOption: 'x64'
              jdkSourceOption: 'PreInstalled'

          # --- AQUI ESTÁ A CORREÇÃO ---
          - task: Maven@3
            displayName: 'Maven Package & Test'
            inputs:
              mavenPomFile: 'gs_java_2025_semestre2-main/pom.xml'
              mavenOptions: '-Xmx3072m'
              javaHomeOption: 'JDKVersion'
              jdkVersionOption: '1.17'
              jdkArchitectureOption: 'x64'
              publishJUnitResults: true
              testResultsFiles: '**/surefire-reports/TEST-*.xml'
              goals: 'package'
            # Este bloco ENV injeta as senhas secretas dentro do processo do Maven
            env:
              SPRING_DATASOURCE_URL: $(DB_URL)
              SPRING_DATASOURCE_USERNAME: $(DB_USER)
              SPRING_DATASOURCE_PASSWORD: $(DB_PASS)
              SPRING_RABBITMQ_HOST: $(RABBIT_HOST)
              SPRING_RABBITMQ_USERNAME: $(RABBIT_USER)
              SPRING_RABBITMQ_PASSWORD: $(RABBIT_PASS)
              SPRING_RABBITMQ_VIRTUAL_HOST: $(RABBIT_VHOST)
              GROQ_API_KEY: $(AI_KEY)

          - task: CopyFiles@2
            displayName: 'Copy JAR to artifact staging'
            inputs:
              SourceFolder: '$(system.defaultworkingdirectory)'
              Contents: '**/target/*.jar'
              TargetFolder: '$(build.artifactstagingdirectory)'

          - task: PublishBuildArtifacts@1
            displayName: 'Publish Artifact'
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'drop'
              publishLocation: 'Container'

  - stage: Deploy
    displayName: Deploy Stage
    dependsOn: Build
    condition: succeeded()
    jobs:
      - job: Deploy
        displayName: Deploy to Azure Web App
        steps:
          - task: DownloadBuildArtifacts@0
            inputs:
              buildType: 'current'
              downloadType: 'single'
              artifactName: 'drop'
              downloadPath: '$(System.ArtifactsDirectory)'

          - task: AzureWebApp@1
            displayName: 'Deploy JAR to Azure Web App'
            inputs:
              azureSubscription: '$(azureSubscription)'
              appType: 'webAppLinux'
              appName: '$(webAppName)'
              package: '$(System.ArtifactsDirectory)/drop/**/target/*.jar'
              runtimeStack: 'JAVA|17-java17'